#wrap {
min-height: 100%;
margin-top:-190px; /* Макс, я не ебу, откуда 190, но так должно быть */
margin-bottom:-100px;
}

#main {
overflow:auto;
padding-top: 200px;
padding-bottom: 100px;
}
	
html {
height:100%
}	
	
body {
margin: 0px;
padding: 0px;
color: #000000;
height: 100%
}

#footer {
position:relative;
margin-top:-100px;
padding: 10px 20px 10px 20px;
height: 100px;
clear:both;
background-color:#00001F
}

#header {
position:relative;
margin-top:0px;
padding: 10px 20px 10px 20px;
height: 150px;
clear:both;
background-color:#00001F
}

.coolList {
 list-style:none;
}

.coolList li {
float:left;
margin-right:100px;
}

.footer {
font-family: 'Open Sans', sans-serif;
font-size: 12pt;
color: Snow;
text-shadow: #003333 1px 1px 2px, 0 0 1em;
float: left;
list-style: none;
width:800px;
}

#postBody {
margin-left: 200px;
margin-right: 200px;
font-family: Arial,Helvetica,sans-serif;
font-size: 12pt;
color: DimGray;
}

